opencv-python-headless
numpy
## boto non c'è bisogno visto che è nativo di Lambda e gli altri package sono built in di python
boto3
## added since while the AWS Lambda base image has boto3 preinstalled, a plain EC2 instance does not